
.bg-color-1{
	background-color: #000217 !important;
	
}

body{
	
	background-color: #000217;
	
}

.bodyContent{
	height: 600px;
	width: 100%;
	
}

.nenChe{
	display: none;

}

.movieTong:hover{
	
	.nenChe{
	display: block;
	width: 100%; 
	height: 250px;
	background-color:rgba(0, 0, 0, 0.634) ;
	
}
	
}

.textTaga{
	
	text-decoration: none;
	color: white;
	
}

.textTaga:hover{
	color: yellow;
	
}



